# Strings

Strings are basically defined as sequence of zero or more characters.
We can use them to represent arbitary values.
These can be words , a whole sentence , random strings of letters , numerals , punctuation.

Strings can be represented in either " " (double quotes) or ''(single quotes). But it is invalid to start with single quote and end with a double quote and vice-versa.

In [2]:
print("hello! Guys")
print('hello! Guys')

hello! Guys
hello! Guys

### Fun-Fact

You know what "" is considered as a string . Yes , it is called an empty string. As we know that spaces are considered as characters.

In [5]:
print("")
print(type("")) # type function is used to find the data type of any value or variable.

<class 'str'>

In [7]:
print(" ")
print(type(" "))

<class 'str'>

The above given " " is not an empty string. It is basically a string with a single space.

## Variables &  Assignment Operator

Till now we have seen that values are given directly but what if we have to perform those operations based on users input . Then the values can't be the same all the time right. So for that case we assign those values are assigned to variables . 

Variables are basically storing units that store values and which can be changed based on the users input.

Those values can be stored in the variables using Assignment Operator which is "=".

In [10]:
a = 5
print(a)

5

In [13]:
a = 6.232
print(a)

6.232

In [14]:
a = "Python"
print(a)

Python

### Naming Conventions For Variables:

The variable names we choose are entirely up to us, but there are a few rules we need to keep in mind:

Variable names can include letters, numbers, and underscore (_) characters.
Variable names canâ€™t start with a number, though starting with an underscore is allowed.
Variable names are case sensitive, but can be in any case.

In [16]:
#2_val = "4"
#p.name = "lavanya"
#h'sage= 34
#school name = "LDAF"

The above given are the limitations which throws error if you run them.
The reasons are:
    
A variable can't be started with a number.
A variable can't have any special symbols like(.,',space) except (_).

In [18]:
v1 = 34
v2 = 2
print(v1 + v2) # retrival of the value stored in the variables.

36

# Exception

In [19]:
a = 24
print(a+b)

NameError: name 'b' is not defined

A traceback is a report that gives us information about what was happening in our code when an exception occured.

The first part is the traceback itself, which is going to tell us where the exception occurred. As a side note, an exception is usually an error, but there are cases where exceptions are used for other purposes in Python as well.

Along with that we can also see that it is mentioned that it has "NameError" which means there is an error in the code . where some variable_name is not defined. ('b' is not defined !! so it is throwing error)

# Get input from the User

Till now we have seen that how value is taken directly in an expression . But we can say most of the times it's not the case so we need to learn how  to take input from the user to perform preffered operations.

To take input from user we have a function named input(). It basically takes string as an input . But user can give all sorts of inputs . So we need to alter this based on the requirement.

In [21]:
a = input()
print("output: ",a)

hello python
output:  hello python

In [25]:
#Let's see how to take integer input
b = int(input())
print("output: ",b)

25
output:  25

In [27]:
#Let's see how to take float input
c = float(input())
print("output: ",c)

43.25
output:  43.25

# Practice

## Ask the user for their name and age, assign theses values to two variables, and then print them.

In [28]:
Name = input()
Age = int(input())
print("Name :",Name)
print("Age :",Age)

sneha
22
Name : sneha
Age : 22

## Investigate what happens when you try to assign a value to a variable that youâ€™ve already defined. Try printing the variable before and after you reuse the name.

In [37]:
v1 = 24
v1 = 36
print(v1)

36

We can see that it is so flexible that it can change it's datatype without any issues. and whenever we change the value in the specific variable then it tends to store the new value and delete the old one.

## Below youâ€™ll find some code with a number of errors. Try to go through the program line by line and fix the issues in the code. Iâ€™d encourage you to try running the program while youâ€™re working on it, as reading the error messages is great practice for debugging your own programs.

hourly_wage = input("Please enter your hourly wage: ')

prnt("Hourly wage: ")
print(hourlywage)
print("Hours worked: ")
print(hours_worked)

hours_worked = input("How many hours did you work this week? ")

The Errors in the above code are:
    firstly in the hourly_wage input it started with " and ended with '.
    secondly the variable name (hourly_wage) is taken wrong in the print
    function.
    Thirdly the variable_name(hours_worked) is used before defining.
    lastly , print functions are replaced with prnt.

In [36]:
hourly_wage = input("Please enter your hourly wage:")
hours_worked = input("How many hours did you work this week? ")
print("Hourly wage: ")
print(hourly_wage)
print("Hours worked: ")
print(hours_worked)

Please enter your hourly wage:23
How many hours did you work this week? 5
Hourly wage:
23
Hours worked:
5